.current-temp {
    font-size: 30px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.current-temp img {
    height: 50px;
    width: 50px;
    margin: 0px;
}

.feels-like {
    font-size: 20px;
}

.other-info {
    display: flex;
}
